# Runtime file on louis. GitHub Environment `production` is the source of
# truth; this file is materialized at deploy time and is not committed.

CMS_IMAGE_TAG=
APP_VERSION=
PUBLIC_URL=https://cms.sein.moe
ADMIN_ORIGIN=https://meme.sein.moe
STRAPI_ADMIN_BACKEND_URL=https://cms.sein.moe
ADMIN_COOKIE_SAMESITE=none
SERVE_ADMIN_PANEL=false
HOST=127.0.0.1
PORT=1337

APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
ENCRYPTION_KEY=
JWT_SECRET=

DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=cms
DATABASE_USERNAME=cms
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_SCHEMA=public

CMS_MEDIA_PATH=/opt/cms/media
CMS_IMAGE_DIGEST=
CMS_DEPLOY_WEBHOOK_SECRET=
ARCHIVE_ADMIN_EMAIL=
ARCHIVE_ADMIN_PASSWORD=
ARCHIVE_READ_TOKEN=
UPLOAD_SIZE_LIMIT=52428800
